@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.box {
    width: 40%;
    height: 494px;
    background: #E9E9E9;
    border: 1px solid #777777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    display: flex;
    padding: 40px;
}

.box-image {
    min-height: 100%;
    max-width: 45%;
}

.box-image img{
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.box-content {
    padding-left: 40px;
}

.box-content ul{
    padding-left: 20px;
}

.box-section {
    margin-bottom: 30px;
}

.box-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #1E1E1E;
    margin-bottom: 30px;
}