.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid gray;
  width: 75%;
}

.close {
  color: gray;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.paragraph {
  color: red;
}

